<div class="form">
  <%= simple_form_for @post, html: { multipart: true } do |form| %>
    <%= form.input :num_tower, class: 'form-control' %>
    <%= form.input :line_name,  class: 'form-control' %>
    <div class="row">
      <div class="col-md-6">
        <h3>Датчики усилия</h3>
        <%= form.simple_fields_for :force_sensors do |force_sensor| %>
          <div class="row nested-fields justify-content-center align-items-center border  border-primary rounded mt-1">
            <div class="col-md-3">
              <%= force_sensor.input :sensor_number %>
            </div>
            <div class="col-md-3">
              <%= force_sensor.input :phase %>
            </div>
            <div class="col-md-3">
              <%= force_sensor.input :chain %>
            </div>
            <div class="col-md-3">
              <%= link_to_remove_association "Удалить", force_sensor %>
            </div>
              <h3>Уставки</h3>
              <%= force_sensor.simple_fields_for :force_limits_sets do |fls| %>
                <div class="row nested-fields justify-content-center align-items-center  border border-default mt-1">
                  <div class="col-md-2">
                    <%= fls.input :free_weight %>
                  </div>
                  <div class="col-md-2">
                    <%= fls.input :detection_level %>
                  </div>
                  <div class="col-md-2">
                    <%= fls.input :warning_level %>
                  </div>
                  <div class="col-md-2">
                    <%= fls.input :alarm_level %>
                  </div>
                </div>
              <% end %>
              <div class="links">
              </div>

          </div>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Добавить датчик', form, :force_sensors %>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Датчики температуры</h3>
        <%= form.simple_fields_for :temperature_sensors do |temperature_sensor| %>
          <%= render 'sensor_fields', f: temperature_sensor %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Добавить датчик', form, :temperature_sensors, partial: 'sensor_fields' %>
        </div>
      </div>
    </div>
    <%= link_to 'Назад', root_path, class: 'btn btn-primary' %>
    <%= form.submit 'Сохранить', class: 'btn btn-primary' %>      
  <% end %>
</div>
