<%= simple_form_for @post, html: { multipart: true } do |p| %>
  <%= p.input :num_tower %>
  <%= p.input :line_name %>

  <%= p.simple_fields_for :force_sensors do |fs| %>
    <%= render 'sensor_fields', f: fs %>
  <% end%>

  <div class='links'>
    <%= link_to_add_association 'Добавить датчик', p, :force_sensors, partial: 'sensor_fields' %>
  </div></div>


  <%= p.submit 'Save' %>

<% end %>
