<div class="row mt-2">
  <div class="col-md-4 border round">
    <p>Placeholder for image</p>
  </div>
  <div class="col-md-7 border round">
    <div id="post">
      Линия <%= @post.line_name %>
    Опора <%= @post.num_tower %>
  </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-5 border round">
    <p>Размещение датчиков усилия</p>
    <% @post.force_sensors.each do |sensor| %>
      <p>
      Датчик <%= sensor.sensor_number %>: фаза <%= sensor.phase %>
    </p>
  <% end %>
  </div>
  <div class="col-md-6 border round">
    <p>Размещение датчиков температуры</p>
    <% @post.temperature_sensors.each do |sensor| %>
      <p>
      Датчик <%= sensor.sensor_number %>: фаза <%= sensor.phase %>
    </p>
  <% end %>
  </div>
</div>
<div class="row mt-2">
  <%= render 'links' %>
</div>

