<!DOCTYPE html>
<html>
  <head>
    <title>WebStgnPosts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav navbar-nav navbar-light bg-light navbar-expand-md">
        <div class="navbar-brand">
          <%= link_to 'СТГН', root_path %>
        </div>
        <div class="navbar-nav ml-auto ">
          <% if user_signed_in? %>
            <div class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete %>
            </div>
          <% else %>
            <div class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </div>
            <div class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="container">
      <% if notice %> <p class="alert alert-warning"><%= notice %></p> <% end %>
      <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
      <%= yield %>
    </div>
  </body>
</html>
